<?php

define('APP_NAME', 'playitnow');
define('APP_BASE_URL', 'http://192.168.99.100');
define('APP_BASE_PATH', $_SERVER['DOCUMENT_ROOT']);

define('MYSQL_HOSTNAME', '192.168.99.100');
define('MYSQL_DATABASE', 'playitnow');
define('MYSQL_USERNAME', 'root');
define('MYSQL_PASSWORD', 'root');

define('MAINTENANCE_MODE', false);